h2.text The recent 
    span#videonumber.variable *
    |  videos you observed
smaller Only the video watched from the broswer with the extension are reported, this is not linked to your Google account, if you have one.
    #videolist
