.container-fluid.text.text-large
    ol
        li Select one or more video below
        li Click on "share", it will create a special unique link
        li Wait a friend of yours replay the same sequence, both of yours should see the 
            b
                i divergency
            |  pushed by the algorithm.

.container-fluid.wholepage#replace
    div.col-md-8
        #shareable-list
    div.col-md-4#shoot.selectable
        span#step 
