{
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "project": ["./tsconfig.paths.json"]
  },
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "browser": true
  },
  "globals": {
    "chrome": true,
    "document": false,
    "navigator": false,
    "window": false,
    "browser": true,
    "_": true
  },
  "settings": {
    "react": {
      "version": "16.12.0"
    }
  },
  "rules": {
    "no-console": 1,
    "react/prop-types": 0
  }
}
