.DS_Store
*.seed
*.log
*.dat
*.out
*.pid
*.gz
.idea
*.swp
.env
.vscode/*

extension/build/*
extension/dist/*
extension/node_modules/*

methodology/dist/*
methodology/config/*
methodology/profiles/*
methodology/experiments/*
methodology/executions/*
methodology/node_modules/*
methodology/extension/*
methodology/snaps/*

backend/node_modules/*

react-pieces/node_modules/*
