.DS_Store
*.seed
*.log
*.dat
*.out
*.pid
*.gz
.idea
*.swp
.env
.vscode/*

extension/build/*
extension/dist/*

methodology/snaps/*
methodology/geckodriver.log
methodology/config/*
methodology/profiles/*

extension/node_modules/*
backend/node_modules/*
react-pieces/node_modules/*