.DS_Store
*.seed
*.log
*.dat
*.out
*.pid
*.gz
.idea
*.swp
.env
.env.local
.vscode/*

node_modules
build
dist

methodology/config/*
methodology/profiles/*
methodology/executions/*
methodology/experiments/*
methodology/extension/*
methodology/screenshots/*

backend/dump
backend/experiments/*
backend/config/secrets.json

backend/logs/*
!backend/logs/.keep

qa/*.pyc

# test coverage
coverage

#yarn v2
.yarn/*
