{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ],
        "message": "${nextRelease.version} CHANGELOG [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./prepare.sh"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build/extension.zip",
            "label": "Web Extension"
          }
        ]
      }
    ]
  ],
  "branches": [
    {
      "name": "main",
      "prerelease": false
    },
    {
      "name": "beta",
      "prerelease": true
    }
  ]
}
