body
    font-family 'Work Sans'

@font-face
    font-family 'Work Sans'
    font-style normal
    font-weight 400
    src local('Work Sans'), url(/fonts/WorkSans.ttf) format('truetype');

.githublogo
    width 20px
    height auto

.logocontainer
    text-align right

/* unordered list */
.yt--icon-list
    list-style-image url("/images/yttrex16.png")
    font-size 1.3em

.yt--icon-list > li {
    margin-left: 7%;
    line-height: 2em;
}

a.yellow
    background yellow
    border-bottom 3px double

h2
    padding 10px
    background black
    color white

.centered
    text-align center

/* override bootstrap */
.navbar-default
    background-color white

/* only for pre */
.azure
    background azure
