body
    font-family 'Work Sans'

.yt-red-f
    color #d31611
.yt-red-b
    background-color #d31611
    a 
        color palegoldenrod
        background-color #fe5000
        border-radius 50%

.yt-green-f
    color #64b211
.yt-green-b
    background-color #64b211
    a
        color palegoldenrod

.yt-orange-b
    background-color #fe5000
    a 
        color palegoldenrod
.yt-orange-f
    color #fe5000

.bolder
    font-weight 800

.spaced
    margin-top 10px
    margin-bottom 10px

.padded
    padding-left 10%
    padding-right 10%

.white
    color white

.left
    text-align left

.right
    text-align right

img
    max-width 100%
    max-height 100%

.screencut
    border grey 5px dotted
    margin 2px


.terminal
    text-align left
    font-family monospace !important
    color #00fb00
    background-color black
    padding-left 5px
    padding-right 5px

@font-face
    font-family 'Work Sans'
    font-style normal
    font-weight 400
    src local('Work Sans'), url(/fonts/WorkSans.ttf) format('truetype');

.githublogo
    width 20px
    height auto

.yttrexlogo
    border solid 1px #ccc
    border-radius 10%
    padding 1em
    width 5em
    background-color lightyellow

.logocontainer
    text-align right


/* unordered list */
.yt--icon-list
    list-style-image url("/images/yttrex16.png")
    font-size 1.3em

.yt--icon-list > li {
    margin-left: 7%;
    line-height: 2em;
}

.text
    margin-left 8%
    padding-left 2%
    margin-right 8%
    padding-right 2%

h1.text
    text-align center
    font-size 8em

.centered
    text-align center

.ytslot
    border-radius 0px 35px 0px 35px
    align-self center

.ytslot-inverted
    border-radius 35px 0px 35px 0px

.negative
    background black
    color white
    border-radius 0px 35px 0px 35px
    padding 2em

.highlight
    border-radius 0px 35px 0px 35px
    border black 5px solid
    padding 2em

.footer
    margin-top 5px
    border-top black 1px solid
    border-left black 1px solid
    border-right black 1px solid
    padding 1em

.variable
    font-family monospace
    background-color #f2ffc9
    

/* override bootstrap */
.navbar-default
    background-color white
