@import url('./font.css');

#ycai-dashboard {
  font-family: 'Trex-Regular';
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#ycai-dashboard body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#ycai-dashboard body #ycai {
  height: 100%;
  width: 100%;
}
