.expand-view{
  position: absolute;
  right: -30vw;
  height: 100%;
  top: 0;
  width: 30vw;
  background-color: white;
  box-shadow: -4px 0px 22px -10px rgba(0,0,0,0.75);
  transition: all 0.4s linear;
  overflow: scroll;
  font-family: Roboto;
}

.expand-view__list{
  list-style: none;
  margin-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
}

.expand-view.visible{
  right: 0;
}

.expand-view__close{
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.expand-view__list__item{
  margin-bottom: 30px;
  position: relative;
}

.expand-view__list__item:after{
  height: 1px;
  width: 100%;
  background-color: black;
  position: absolute;
  content: '';
  display: block;
  bottom: -15px;
  opacity: .1;
}

.expand-view__list__item__link{
  display: flex;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.expand-view__list__item__img{
  height: 120px;
  width: 160px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

.expand-view__list__item__text__views{
  opacity: .8;
  margin-top: 5px;
  color: #f44336;
}
