h2.text Data reuse
p.text 
    button#csv CSV
    button#json JSON

h2.text References
p.text Blah

h2.text Details 
p.text a cryptographic key has been generated when you installed the web-extension, and there is not yet way to export that. If you install the extension in a different browser, you will have a new codename and the submitted videos would not be associated to this list.

