doctype html
html
    head
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')
        script(type='text/javascript', src='/js/lodash.min.js')
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/moment.min.js')

        link(rel='stylesheet', href='/js/local/personal.css')
        script(type='text/javascript', src='/js/local/personal.js')

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="youtube tracking exposed")

        meta(property="og:title" content="Personal poage")
        title yttrex, personal page

    body(onload="personalLoader();")

        include header
        .container
            h2 Personal interface: this link is only know by you; keep it private
            p From this interface you should see the recorded session you sent us, delete, and download. In theory. In practice: this is a
                a(href="https://github.com/tracking-exposed/yttrex/issues") work in progress
                |. At the moment, the controls are pretty limited.
            #whole

        
