doctype html
html
    head
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')
        script(type='text/javascript', src='/js/lodash.min.js')
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/collapse.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/moment.min.js')

        link(rel='stylesheet', href='/js/local/personal.css')
        script(type='text/javascript', src='/js/local/personal.js')

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="youtube tracking exposed")

        meta(property="og:title" content="Personal poage")
        title yttrex, personal page

    body(onload="personalLoader();")
        include ../header

        div#whole
            .container-fluid#removable
                .col-md-6.ytslot.yt-green-b.white.right
                    h2 This is your personal page. Think twice before share this link!
                .col-md-6.ytslot.yt-red-b.white.left
                    h2 It would contain sequence of the videos recorded, YT's personalized suggestions and it is possible delete the contributions

            .container-fluid
                h2.text.right
                    span#codename.variable [codename]
                    |  is your pseudonym on ytTREX!

            include menu
        include ../footer
