.confirmationModal__dialog__accordion{
  width: 100%;
  border: solid #23AA9A 2px;
  margin-bottom: 10px;
  border-radius: 3px !important;
}
.confirmationModal__dialog__accordion__typography{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.confirmationModal__dialog__accordion__typography__json-container{
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  color: #f29766;
  background: #202124;
  border: 1px solid #f29766;
  padding: 10px;
  padding-right: 40px;
  width: 85%;
}
.confirmationModal__dialog__accordion__typography__copy{
    background: none;
    border: none;
    font-size: 12px;
    color: #f50057;
    font-weight: 500;
    cursor: pointer;
    min-width: 65px;
    width: 15%;
}
.confirmationModal__dialog__accordion__typography__copy.-copied{
  color: green;
}
.confirmationModal__actions__delete{
  color: #f50057 !important;
}

.confirmationModal__dialog__empty{
  font-size: 20px !important;
  padding: 20px;
}