doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="youtube tracking exposed")
    title 404

  body

    include header

    .container-fluid.center
        h1 Page not found! 

        h3 You found a broken link! if you feel chatty, please drop a line in our unmaintained discussion place on Facebook (we should be on Zuckland to study it, give a look to 
            a(href="https://facebook.tracking.exposed") facebook.tracking.exposed
            |, or if you are interested in the internals, watch 
            a(href="https://github.com/tracking-exposed/yttrex") the code
            |.
