doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="yt, t-rex")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')

    meta(property="og:title" content="ytTREX")
    meta(property="og:type" content="website")
    meta(property="og:description" content="youtube.TREX team")
    meta(property="og:url" content="https://youtube.tracking.exposed")
    meta(property="og:image" content="https://youtube.tracking.exposed/images/youtube-trex-logo.png")
    meta(property="og:image:width" content="1000")
    meta(property="og:image:height" content="1000")

    title ytTREX

  body
    include header
    .container-fluid 
        p
            ul.yt--icon-list
                li Reviews, testing and contributes from: ... 
                    smaller when you contribute, you can add yourself here. discuss your patch on the 
                        a(href="https://github.com/tracking-exposed/yttrex/issues " target="_blank") issues
                        |.
                li Logo designed by 
                    a(href="https://twitter.com/lucacorsato" target="_blank") Luca Corsato
                    |, browser extension based on 
                    a(href="https://twitter.com/vrde" target="_blank") Alberto Granzotto
                    |.
                li The project is lead by
                    a(href="https://twitter.com/_vecna" target="_blank") Claudio Agosti
                    |, and important feedback and help comes from 
                    a(href="https://twitter.com/_hackbunny") Giulia Q.
                    |   and the anonymous friend who opt-out from here ;)
                li code 
                    a(href="https://github.com/tracking-exposed/yttrex/graphs/contributors" target="_blank") contributors
                    |.
                li 
                    b Contacts
                    |: support at tracking dot exposed 
