
h3 Project analysis and roadmap
p youtube.tracking.exposed takes its inspiration, methods, experience, and code from facebook.tracking.exposed. This project is motivated by and refers to the tracking.exposed manifesto; the goal is to create free (libre) software, support a community of analysts and developers, and enable critical analysis of monopolist platforms.


h3 Reason
p In this section, we don't address "why it is right and necessary" (the 
    a(class="yellow" href="/outrage") political outrage 
    | is a legitimate good reason, but separated from this document), but rather, the technical reasons of our approach based on a browser extension and scraping, as the most effective method to realize algorithm analysis and third party accountability of platforms which deploy personalized algorithms.
ol
    li We do not rely on APIs because they can be blocked or limited by the platform, but instead rely on crowdsourced, voluntarily disclosed data.
    li We don't (and shouldn't) rely on an individual point of observation to run tests. This is the approach used by algotransparency.org, and we should acknowledge two of their important achievements:
        ol
            li The simplicity of their communication. Despite the fact that the issue of algorithms is personalisation, it is already an achievement to display the existance and impact of algorithms, especially for storytelling around on polarizing topics  or with heated debate, such as health, science, politics.
            li Their research on visualisation is something we should learn from and, where possible, reuse to provide continuity in the analysis.
    li We enable individuals to understand how personalisation affects them, with the aim of mainstreaming the debate around algorithms. We want people to actively engage in the research process.

h3 Frame and ways to use the data

p This is a method to 
    b collect evidence about personalisation algorithms.
p This evidence can be used by:
ol
    li Individuals themselves, to understand how their experience is curated by the platform.
    li People using our tools and analytics. To this end, a simple dashboard would be developed on top of a documented API, in order to enable other free software developers to extend the AGPL technology.
    li Other individual third parties to which the owner of the data could share anonymously some of their related videos, in order to compare with them how personalisation leads to different resulting experiences.
    li Additional third parties, such as research groups, if users opt-in for this.
    li Software-defined analytics which could be run on all datasets, as long as the results help identify specific phenomena, and where data is not linkable to any individual. Aggregation, pseudonimisation and another forms of protection should be incorporated where possible (e.g. videos with fewer than n views could be removed [only videos with >1000 views] to prevent personal information from emerging in the dataset).


h3 Approach

p This method includes asking the individual to install a web-extension, and we should be as clear as possible on how their data would be processed. Despite not including personal data, the sequence of videos seen by an individual might permit us to attribute behavioural information; therefore, we should manage the dataset with the level of protection required by GDPR. 
p This implies:
ol
    li A clear opt-in, which is revocable and accessible
    li A clear data retention policy 
    li Full transparency on the data processed and stored (except except leakage of personal data, or anything not anonymized enough who can lead to any attribution/inference)
    li Data protection impact assessment
    li A method to update individuals in case of a data breach

h3 Data Pipelines, Collection and Transformation

p The technology consists of a pipeline for data collection. Individual contributors have full access to and control over the data they send to us, and to any data attributed, inferred or associated with their contributions.
The pipeline has different stages, which serve these functions:

ol
    li Pre-requisite: an individual must install the browser extension, its current name on firefox and chrome store, is yttrex, and you can install the alpha version from https://youtube.tracking.exposed.
    li Collector: the submission is validated as specific to the individual. This process uses a cryptographically secure property which ensures a collection associated with an individual can't be mixed with submissions made by another individual. 
    li Parser: a process to read the submission and extract metadata, which will depend on the page. These data are served into the database and represent the raw input for our analysis. The parser creates an entry in the database collection named 'videos'

p The pipeline parses the collected videos, and attrribute metadata. They have some differences based on the kind of page acquired (different URL schema normally imply a different kind of page):
ul
    li Home: shows the region from which the individual is accessing youtube, and contains a list of suggested videos.
    li Watch: is an individual video page, which contains the metadata of the video at a specific moment, along with related videos selected for the individual. The metadata extracted includes the number of likes/dislikes, the number of views, comments, description, title, and author. 
    li Search: displays results from a search query.
    li Channel: records what is displayed when a channel page is opened.

p Along with the metadata extracted from the page, there is some technical metadata generated by the recording system:
ul
    li The geographic location attributed to the IP address
    li A pseudorandom identifier which links the contribution to the web-extension (and this is usually linkable to the individual). This is PII, and the use of this metadata might result in sensitive data, if not properly redacted/aggregated.  This data is also necessary to identify the legitimate owner of the data and let them exert their rights and authorise complete access.
    li A timestamp of when the data was saved.
    li Optional metadata as decided by the adopter (for self-tagging the contributions, for example).

p These data represent the unique picture of what YouTube suggested to the individual in a specific timeframe.

h3 Roadmap

ol
    li Have a browser extension capable of copying the YouTube pages. This is still operational and provides a good dataset to work on point two
    li Improve and stabilise the parsing technology
    li Release a simple API without any interface, to let researchers and developers experiment with the tool
    li Develop an interface which permits an individual to enforce their GDPR rights and see their collection
    li Develop functionalities to let adopters play and compare with their personalisation. The idea, is that by letting two people who know each other (or even random Internet users which don't know each other, but they believe to have something in common, like participating in the same community), the realisation of algorithm personalisation would be stronger.

h3 Research

p The release of stage 3 of the roadmap above would be enough to start research. We aim to keep methodology separate from technology. A researcher might, for example, address questions such as:
ul
    li If the same video is seen at the same time from two Google accounts, how many of the suggested videos are the same?
    li If the same video is seen at the same time from two browsers without any cookies, from a clean browser, and from the same IP address, how many of the suggested videos are the same?

p In this comparative analysis, the researcher can start to figure out how the algorithm displays different suggestions.


h3 Outreach

p This is a communication/marketing strategy that might be sensible, but only if functionalities (as in roadmap stage 5) are live. There are few possible methods:
ol
    li European electoral analysis (integrate this research method as part of the https://eu19.tracking.exposed)
    li YouTubers are facing pressure from algorithmic logic, but they have no way to understand its effects. We can offer a tool which YouTubers may have an interest in promoting among their audiences
    li We can work on animated gifs and videos to explain how algorithms cause divergences in people's experiences based on what they are shown
    li The website would be mostly dedicate to technology (API, pages collected, statistics). It would mostly target researchers and analysts. Exception made for the homepage, which will present more mainstream communication. Mock-up are not yet defined.

h3 Partners

p tracking.exposed is a free software development group, the goal of which is to manage technology and maintain a database enabling research in the public interest.
p As of 2019, ALEX has a small grant allocated, to "test the possibility to extend the approach of fbtrex to other platforms", we already know this is possible, and for strategic reasons this tool might be used to attract attention and visibility to our European Election analysis.
p The general approach of tracking.exposed and algorithms.exposed projects is to find partners which can lead in promoting and disseminating the technology, while we implement thefunctionalities they need. The only constraints are our ethical mandate.
