
h3 Project analysis and roadmap
p youtube.tracking.exposed takes its inspiration, methods, experience, and code from 
    a(href="https://facebook.tracking.exposed" class="yellow") facebook.tracking.exposed
    |. This project is motivated by and refers to the 
    a(href="https://tracking.exposed") tracking.exposed
    |  manifesto; the goal is to create free (libre) software, support a community of analysts and developers, and enable critical analysis of monopolist platforms.

h3 How this technology works
p 
    li We do not rely on APIs because they can be blocked or limited by the platform, but instead rely on crowdsourced, voluntarily disclosed data.
    li We enable individuals to understand how personalisation affects them, with the aim of mainstreaming the debate around algorithms. We want people to actively engage in the research process.
    li We don't (and shouldn't) rely on an individual point of observation to run tests. This is the approach used by 
        a(class="yellow" href="https://algotransparency.org") algotransparency.org
        |, but we should acknowledge two of their important achievements:
        ul
            li The simplicity of their communication. Despite the fact that the issue of algorithms is personalisation, it is already an achievement to display the existance and impact of algorithms, especially to show how delicate topics, such as health, science, and politics, might suffer from these hidden logic because they can be exploited by disinformant.
            li Their visualisation is something we should learn from.

h3 How data are being used here

p This is a method to 
    b collect evidence about personalisation algorithms.
    | It is necessary to remind this, because our investigation subject is not on the yotubers, but on YouTube. With this evidence it is possible, for example:
ol
    li Individuals themselves, to understand how their experience is curated by the platform.
        br
        i By clicking on the browser extension, the adopter would reach their personal collection of videos
    li People using our tools and analytics. To this end, a simple dashboard would be developed on top of a documented API, in order to enable other free software developers to extend the AGPL technology.
        br
        i Check the 'play with data' section, it points at three basic functionalities
    li Let communities play with this
        br
        i a consumer of youtube video might want to mark their contribution as belonging to a certain channel or community. This would help communities to better understand themselves and how algorithms impacts them.
    li Researchers (everyone is a researcher for us, just, they have raw data) might wants to explore in details the data. This project is inspired by the concept of 
        a(href="https://diem25.org/wp-content/uploads/2019/03/Technological-Sovereignty-Green-Paper-No-3.pdf") "European Data Commons"
        |  (section 2.2.2), as long as we can ensure they are analyzing phenomenon and not individual behaviors.
        br
        i we can achived this with anonymization and aggregation, but get in touch at -support at tracking dot exposed-


h3 Approach

p This method includes asking the individual to install a web-extension, and we should be as clear as possible on how their data would be processed. Despite not including personal data, the sequence of videos seen by an individual might permit us to attribute behavioural information; therefore, we should manage the dataset with the level of protection required by GDPR. 
p This implies (and we look forward to deliver where is not yet complete):
ol
    li think to our adopters as 
        i people
        |  and not as 
        i users 
        | =) 
    li A clear opt-in, which is revocable and accessible.
    li A customizable data retention policy.
    li Full transparency on the data processed and stored (it is free software, but we should describe it before a person join thep project).
    li Data protection impact assessment?
    li A way to notify individuals in case of a data breach (which is weird because contributors are anonymous to us, but we might send a message using the browser extension).

h3 Data Pipelines, Collection and Transformation

p The technology consists of a pipeline for data collection. Individual contributors have full access to and control over the data they send to us, and to any data attributed, inferred or associated with their contributions.
The pipeline has different stages, which serve these functions:

ol
    li Pre-requisite: an individual must install the browser extension, its current name on Firefox and Chrome Store, is yttrex, and you can install the alpha version from https://youtube.tracking.exposed.
    li Collector: the submission is validated as specific to the individual. This process uses a cryptographically secure vector which ensures a collection associated with an individual can't be mixed with submissions made by another individual. 
    li Parser: a process that reads the submission and extracts metadata from the given page. These data are served into the database and represent the raw input for our analysis. The parser creates an entry in the database collection named 'videos'

p The pipeline parses the collected videos, and attributes metadata. They have some differences based on the kind of page acquired (different URL schema normally imply a different kind of page):
ul
    li Home: shows the region from which the individual is accessing youtube, and contains a list of suggested videos.
    li Watch: it's an individual video page, which contains the metadata of the video at a specific moment, along with related videos selected for the individual. The metadata extracted includes the number of likes/dislikes, the number of views, comments, description, title, and author. 
    li Search: displays results from a search query.
    li Channel: records what is displayed when a channel page is opened.

p Along with the metadata extracted from the page, there is some technical metadata generated by the recording system:
ul
    li The geographic location attributed to the IP address
    li A pseudorandom identifier which links the contribution to the web-extension (and this is usually linkable to the individual). This is PII, and the use of this metadata might result in sensitive data, if not properly redacted/aggregated.  This data is also necessary to identify the legitimate owner of the data and let them exert their rights and authorise complete access.
    li A timestamp of when the data was saved.
    li Optional metadata as decided by the adopter (for self-tagging the contributions, for example).

p These data represent the unique picture of what YouTube suggested to the individual in a specific timeframe.

h3 Roadmap

ol
    li ☑  Have a browser extension capable of copying the YouTube pages: it is implemented. We need help in providing better screenshots for 
        a(class="yellow" href="https://chrome.google.com/webstore/detail/yttrex/kbbgjcgdcibilpahljnlejefcehbljnd") Chrome store,
        | and 
        a(class="yellow" href="https://addons.mozilla.org/en-US/firefox/addon/yttrex/") Firefox store
        |. If you are a web-extension developer. 
        a(class="yellow" href="https://github.com/tracking-exposed/yttrex") check the README on github
        |.
    li ☐  Implement a decent statistics collection system 
    li ☑  Release a simple API without any interface, to let researchers and developers experiment with the tool
    li ☐  Develop an interface which permits an individual to delete their submission and control data retention policy
    li ☑  Develop functionalities to let adopters play and compare their results.

h3 Research

p The release of stage 3 of the roadmap above would be enough to start research. We aim to keep methodology separate from technology. A researcher might, for example, address questions such as:
ul
    li If the same video is seen at the same time from two Google accounts, how many of the suggested videos are the same?
    li If the same video is seen at the same time from two browsers without any cookies, from a clean browser, and from the same IP address, how many of the suggested videos are the same?
    li and keep playing with these variables! the qualitative analysis (the video content and the judgment on it, if any) is left to the researcher, but with ytTREX they can record and compare how the algorithm is interacting.

p In this comparative analysis, the researcher can start to figure out how the algorithm displays different suggestions.

h3 Outreach

ol
    li Talk to the content producers (
        i "When I'm grow-up I want to be a youtuber!
        |): they are one of the first large category in the world which is vocal, it is sensible about algorithm discrimination (demonetization, unlisting, automated+human take down)
    // li Integrate this analysis method with our 
        a(class="yellow" href="https://eu19.tracking.exposed") European 2019 electoral analysis
        |. It is a package of tools and methods, it is growing, and share the same core value.
    li YouTubers are trying to deduct the effect of algorithm, We can offer a tool which YouTubers may have an interest in promoting among their audiences. There is a list of functionalities meant for communities, and others meant for researchers.
    li The website is a technical reference, is meant to describe technology. If the interest arise, other website might use our data and do their own analysis and communication.

