doctype html
html
    head
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')
        script(type='text/javascript', src='/js/lodash.min.js')
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/collapse.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/moment.min.js')

        link(rel='stylesheet', href='/js/local/divergence.css')
        script(type='text/javascript', src='/js/local/divergence.js')

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="youtube tracking exposed")

        meta(property="og:title" content="Divergency page, shared by a friend")
        title yttrex, divergence

    body(onload="printList();")

        include header

        .container-fluid.extension-missing
            h1.text.negative How much YouTubes' algorithm lead informations to diverge?
            h1.text.highlight Open this page in a browser with installed the ytTREX extension
            include downloads
            p.text p.s. this is necessary to collect the evidences; the subject under investigation is YTs' algorithm, 
                a(href="/privacy-statement") not you
                |  ;)

        .container-fluid.extension-missing.faq
            h1.text.negative How does it work?
            h1.text Your friend select a list of videos. ytTREX recorded which is the
                i next autoplay
                |, and the 20
                i related 
                |  videos YT is picking.

        .container-fluid.extension-present
            h1.text.negative comparison list
            #video--list

        .container-fluid
            h1.text.negative ytTREX display how algorithms have a role, in making the perception of the public discourse, diverge from people you assume like-minded.
                
