doctype html
html
    head
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')
        script(type='text/javascript', src='/js/lodash.min.js')
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/collapse.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/moment.min.js')

        link(rel='stylesheet', href='/js/local/divergence.css')
        script(type='text/javascript', src='/js/local/divergence.js')

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="youtube tracking exposed")

        meta(property="og:title" content="Divergency page, shared by a friend")
        title yttrex, divergence

    body(onload="printList();")

        include header

        #extension--parsable 

        .container-fluid.extension-missing
            h2.text Welcome! 
                span.variable.authorName $name
                |  has shared a list of 
                span.variable.videoNumber $number
                |  videos. The goal is compare of YouTube suggest related video.

        .container-fluid.extension-present
            h2.text Welcome back 
                span.variable#userName $you
                |: 
                span.variable.authorName $name
                |  shared a list of 
                span.variable.videoNumber $number
                |  videos.
            h2.text.right Who has this link, can also see the 
                a.resultLinks results
                |.

        .container-fluid#list
            #video--pretty

        .container-fluid.extension-missing.spaced
            .col-md-6.ytslot.yt-green-b.white.right
                h1 How much YouTubes' algorithm lead informations to diverge?
            .col-md-6.ytslot.yt-orange-b.white.left.bolder
                h1 Google is not goint to tell you if you don't have any question ;)
    
        .container-fluid.extension-missing.centered.spaced
            include downloads

        .container-fluid.ytslot.highlight.extension-missing.text
            h2 You need to install the ytTREX browser extension, to record what the algoritm suggest to you, and then compare with people of your choice who re-play the same videos.
            h2.right Who has this link, can also see the  
                a.resultLinks results
                |. 

        .container-fluid.extension-present
            h2.text.highlight#procedure You should click the ► symbol, it will open a video in a new tab and let you play the next one. Feel free to close the videos after 6-10 seconds. 

        .container-fluid.extension-present
            .col-md-6.yt-green-b.white.ytslot.right
                h2 ytTREX leave to you the judgment if the algorithm fits or not. 
                br
                h2 We assume "only 
                    span.bolder you 
                    | know if fits or not. Not us, not Google, not an authority"

            .col-md-6.yt-orange-b.white.ytslot.left
                h1 You can plan the analysis playing with some variables! such as, clean the cookies, use it non-logged, from incognito mode, from a cafè wifi...

        include footer
