doctype html
html
    head
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')
        script(type='text/javascript', src='/js/lodash.min.js')
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/collapse.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/moment.min.js')

        link(rel='stylesheet', href='/js/local/divergence.css')
        script(type='text/javascript', src='/js/local/divergence.js')

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="youtube tracking exposed")

        meta(property="og:title" content="Divergency page, shared by a friend")
        title yttrex, divergence

    body(onload="printList();")

        include header

        #extension--parsable 

        .container-fluid.extension-missing
            h2.text.negative How much YouTubes' algorithm lead informations to diverge?
            h2.text.highlight You can now check it out!
            h2.text.negative Re-Open this page in a browser with installed the ytTREX extension
            include downloads
            h2.text.negative This is necessary to collect the evidences of YouTube personalization algorithm: without doing a copy of what is tailored for you, you can't compare how that's diverge from others people
            h2.text.highlight Note: we collects and study data about YouTube, not about 
                b
                    i You
                |  ;) check out our
                a(href="/privacy-statement") privacy statement
                |.

            h2.text.negative ? How does this test works ?
            h2.text.highlight Someone (maybe your friend, maybe not), we can identify with the psendonym of 
                span.variable.authorName $name
                |  has selected a list of videos among the various they watched.
            h2.text.negative With the ytTREX extension installed, you might re-play the same list and then observe the
                a#resultLinks results
                |. 

        .container-fluid.extension-present
            h2.text Welcome back 
                span.variable#userName $you
                |,
            h2.text
                span.variable.authorName $name
                |  composed and shared a list of 
                span.variable#videoNumber $number
                |  videos. 

        .container-fluid
            #video--list
            #video--pretty

        .container-fluid
            h2.text.highlight When you start, ytTREX will open automatically the tabs and suspend them after 
                span.variable#tabtime
                |  seconds. In total, it should take circa 
                span.variable#humanizedTime
                |.
            h2.text.center
                button#playnow ytTREX re-play!
                #error Error! video not found, try to reload the page
            h2.text.negative ytTREX leave to you & your friends the judgmnet if the algorithm is good or not. You can run more accurate analysis playing with cookies, logged vs non-logged profiles, incognito mode, etc...

        include footer
