.container-fluid.text.footer
    smaller 
        i know more: 
        a(href="https://tracking.exposed") TREX
        |  manifesto - 
        a(href="https://facebook.tracking.exposed") fbTREX
        |  the Facebook analysis.
