.container
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/') ytTREX
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon

        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="https://github.com/tracking-exposed/yttrex") github repo
                        img.githublogo(src="/images/github-256.png")
                li.nav-item
                    a.nav-link(href='/data') play with the data
                li.nav-item
                    a.nav-link(href='/about') about
