doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="yt, t-rex")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')

    meta(property="og:title" content="ytTREX")
    meta(property="og:type" content="website")
    meta(property="og:description" content="youtube.TREX is an educative project to explain how algorithms have emergent properties to mess up with our collective understanding. TL;DR: see how you and your friends get personalized perceptions")
    meta(property="og:url" content="https://youtube.tracking.exposed")
    meta(property="og:image" content="https://youtube.tracking.exposed/images/youtube-trex-logo.png")
    meta(property="og:image:width" content="1000")
    meta(property="og:image:height" content="1000")

    title ytTREX

  body

    include header
    
    .container-fluid
        h1.centered.negative YouTube works great for individuals, but shitty for societies
        include carousel
        h2.centered.negative Platforms tell us to be 
            i neutral
            |, but with their internal techno-politics, they (willingly or not) influence collective phenomena
        h1.centered We want to keep them accountable!
        include downloads
        h2.centered.silly "But a commercial platform has all the rights to do bu$ine$$..."
        h1.centered not the point: here, we think to the future! 
        h1.centered.negative society decides what is a right and what is an abuse, and this, is an educative project to change your mind on techno-politics
        h1.centered to show 
            // even to blind people 
            | why algorithms are political
        include downloads
        h2.centered.negative youtube.tracking.exposed collects which video are suggested to you
        h2.centered.highlight ytTREX expose the algorithm
        h2.centered.negative ytTREX show what is invisible
        include downloads
        h2.centered.negative (at this point you should have clicked on the button and start to play with the extention)

        span.col-md-6
            h1.centered.highlight See how it works
        span.col-md-6
            h1.centered.highlight About us




