doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="youtube.tracking.exposed, youtube algorithm, algorithm accountability, google algorithms, knowledge is freedom")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')

    meta(property="og:title" content="ytTREX")
    meta(property="og:type" content="website")
    meta(property="og:description" content="youtube.TREX is a browser extension to collect the related video suggested by yt algorthim. It is intended to let people collect personalized evidences and later compare them with others")
    meta(property="og:url" content="https://youtube.tracking.exposed")
    meta(property="og:image" content="https://youtube.tracking.exposed/images/youtube-trex-logo.png")
    meta(property="og:image:width" content="412")
    meta(property="og:image:height" content="119")

    title youtube.tracking.exposed: knowledge is freedom

  body
    include header
    
    .container.padded
        p A tool providing an 
            i experimental infrastructure 
            |  to do youtube algorithm analysis

        h2 How does it work?
        p In two ways: you can 
            a(href="/data") play the data collected
            |  by the collective obeservation, or you can:
        h2 Contribute to the collection
        p You have to install a browser extension: this is necessary because every person receive a personalized version of the experience, and the only way to understand the algorithm is compare our unique vision. Only the adopter (which is not a person, but rather "the browser where the extension is installed, and only that") can see their sequence of videos, but other people cannot. They might only compare the related (and search into the related)

    .container.spaced.padded
        include downloads

    .container.spaced.padded
        h2 experimental services and APIs
        include api

    .container.spaced.padded
        include analysis

    .container.spaced.padded
        h2 Why? 
        p This is 
            a(class="yellow" href="https://tracking.exposed") Tracking Exposed
            |: we fight for a web which is home of the many and not for the few. Algorithm literacy is in our mandate, and YouTube should be scrutinized by third party researchers, if not by every YT user, with the help of tools like ours.

