doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="yt, t-rex")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')

    meta(property="og:title" content="ytTREX")
    meta(property="og:type" content="website")
    meta(property="og:description" content="youtube.TREX is an educative project to explain how algorithms have emergent properties to mess up with our collective understanding. TL;DR: see how you and your friends get personalized perceptions")
    meta(property="og:url" content="https://youtube.tracking.exposed")
    meta(property="og:image" content="https://youtube.tracking.exposed/images/youtube-trex-logo.png")
    meta(property="og:image:width" content="1000")
    meta(property="og:image:height" content="1000")

    title ytTREX

  body

    include header
    
    .container-fluid
        .col-md-6.ytslot.yt-red-b.white.right
            h1 YouTube is a private actor, but is getting a public role in governing how information circulate
                .left know more 
                    a(href="#carosello") ↓ 
        .col-md-6.ytslot.yt-green-b.white.left
            h1 To measure and judge the algorithm, you have to 
                span.yt-red-f.bolder compare the tailored experiences 
                | with someone else, different or similar to you

    .container-fluid.ytslot
        h2.centered.negative Platforms tell us to be 
            i neutral
            |, but with their internal techno-politics, they (willingly or not) influence collective phenomena
        h1.centered We want to keep them accountable!
        include downloads
        
        .col-md-6.ytslot.yt-red-b.white.right
            h1 "But a commercial platform has all the rights to do bu$ine$$..."

        .col-md-6.ytslot.yt-green-b.white.left
            h1 Not the point! We think to the future, who decides for you? based on what? how much you can buy it?

        .ytslot.yt-orange-b.right
            h1 society decides what is a right and what is an abuse
                br
                | ytTREX: 
                span.white.bolder an educative project 
                |  to show why techno-politics matter!

        .col-md-6.ytslot.yt-green-b.right
            h1 Algorithms are political

        .col-md-6.ytslot.yt-red-b.white.left
            h1 Google's promises of 
                i transparency 
                | are pointless without having the users knowing what an algorithm is 


    .container-fluid.spaced#carosello
        include carousel

    .container-fluid
        include downloads
        h2.centered.negative 
            i at this point you should have installed the extension
                br
                | [ or check the box below ]

    .container-fluid.spaced.bolder
        a(href="/technicalities") 
            .col-md-6.ytslot.yt-green-b.right
                h2.highlight.white How does it work?
                    br 
                    | How can be used?

        a(href="/about-us") 
            .col-md-6.ytslot.yt-green-b.left
                h1.highlight.white About us




