doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="yt, t-rex")
    meta(property="og:title" content="yt, t-rex")
    meta(property="og:type" content="website")
    meta(property="og:description" content="yt, t-trex")
    meta(property="og:url" content="https://y.tracking.exposed")
    meta(property="og:image" content="https://y.tracking.exposed/images/youtube-trex-logo.png")
    meta(property="og:image:width" content="1000")
    meta(property="og:image:height" content="1000")
    title facebook tracking exposed

  body

    include header
    include navbar
    
    .container-fluid
        h1.center welcome!
        h3.center nothing to see, yet
