doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="yt, t-rex")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')

    meta(property="og:title" content="ytTREX")
    meta(property="og:type" content="website")
    meta(property="og:description" content="youtube.TREX is a browser extension to collect the related video suggested by yt algorthim. It is intended to let people collect personalized evidences and later compare them with others")
    meta(property="og:url" content="https://youtube.tracking.exposed")
    meta(property="og:image" content="https://youtube.tracking.exposed/images/youtube-trex-logo.png")
    meta(property="og:image:width" content="1000")
    meta(property="og:image:height" content="1000")

    title ytTREX

  body
    include header
    
    .container-fluid.padded
        p A tool providing a small experimental infrastructure for the youtube algorithm analysis

    .container-fluid.spaced.padded
        include downloads

    .container-fluid.spaced.padded
        p This is far from being completed, but it is a good beginning. If you want to understand how we work, you can look up the first two years of experiences made with 
            a(href="https://facebook.tracking.exposed") facebook.tracking.exposed
            |, or read below the spring 2019 youtute.tracking.exposed roadmap.

        h2 experimental services and APIs
        include api

    .container-fluid.spaced.padded
        include analysis

    .container-fluid.spaced.padded
        h2 Why? 
        p This is 
            a(class="yellow" href="https://tracking.exposed") Tracking Exposed
            |: we fight for a web which is home of the many and not for the few. Algorithm literacy is in our mandate, and YouTube should be scrutinized by third party researchers, if not by every YT user, with the help of tools like ours.

