doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="youtube tracking exposed")
    title 404

  body
    include header

    .container-fluid
        h1 How we do respect you?

        ul
            li You have full access and ability to delete the data you submit
            li No PII are stored, we want to study how youtube algorithm not you
            li No IP address or username is stored, we keep associated the video watched to a pseudonym (which is your public key)
            
        h3 Public Key
        p The public key is als

