doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="youtube tracking exposed")
    title 404

  body
    include header

    .container-fluid
        h1 How we do respect you?
        h3 
            ul
                li You have full access and ability to delete the data you submit (
                    a(href="https://github.com/tracking-exposed/yttrex/issues/4") not yet
                    |, please, mail to support at tracking dot exposed to have your data deleted. This is as savage alpha version)
                li No PII are stored, we want to study how youtube algorithm, not you
                li No IP address or username is stored, we keep associated the video watched to a pseudonym (which is dependent from a unique random cryptographic key every extension generate)

    include footer
                

