doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="yt, t-rex")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/isotope.pkgd.min.js')

    link(rel='stylesheet', href='/js/local/index.css')
    link(rel='stylesheet', href='/js/local/documented.css')
    script(type='text/javascript', src='/js/local/documented.js')

    meta(property="og:title" content="ytTREX")
    meta(property="og:type" content="website")
    meta(property="og:description" content="Related videosCompare how youtube display personalized related videos")
    meta(property="og:url" content="https://youtube.tracking.exposed")
    meta(property="og:image" content="https://youtube.tracking.exposed/images/youtube-trex-logo.png")
    meta(property="og:image:width" content="1000")
    meta(property="og:image:height" content="1000")

    title related search, ytTREX

  body(onload="initRelated()")

    include header
    
    .container.spaced.padded
        h2 https://www.youtube.com/watch?v=
            span.videoId VIDEOID
            |  →  https://youtube.tracking.exposed/related/
            span.videoId VIDEOID

    .container.centered
        input(type="text" class="entry" id="search" placeholder="youtube.com/watch?v=...") 
        input(type="button" value="view" onclick="submit()")
        #notes

    .container
        #related

