.seen {
    font-size: 0.75em;
    background-color: red;
    border-top: 4px white solid;
    padding-left: 10px;
    color: white;
    font-weight: bold;

}

label {
    background: #f5efef;
    border-radius: 15px;
    padding: 5px;
}

.step {
    border-bottom: 2px red solid;
    border-left: 2px red solid;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 0.8em;
}

.comparehdr {
    text-align: center;
    background: #f5efef;
}

.protagonist {
    font-size: 1.4em;
}
