.extension-present {
    display: none;
}
.extension-missing {
    /* display: none; */
}

#error {
    display: none;
}
#playnow {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
    border: 2px solid #9b9b9b;
    background-color: #fff;
    padding: 5px 11px;
    color: #4c4c4c;
    text-decoration: none;
    display: none;
}
.inprogress {
    padding: 5px 11px;
    font-weight: 700;
    border: 2px solid #9b9b9b;
    background-color: #fff;
}
#video--list {
	text-align: center;
}
#video--list pre {
    display: none;
}

/* results page */
.author {
    font-size: 0.7em;
    margin: 0;
    padding: 0 0 0 10px;
    border: 0;
    color: darkgreen;
}

.prev-entry {
    border-top: 1px dotted darkgreen;
}

/* results page */
.unit {
}
.title {
    background-color: #e7ffe7;
    border-radius: 5px;
}
.info {
    background-color: #ffeaea;
    border-radius: 5px;
}
.what {
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 4px;
    padding: 2px;
}
.notpossible {
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
}
.result {
}
.entry {
}
.user {
    background-color: white;
}
.related p {
    font-size: 0.7em
    text: white;
}
.number {
    font-weight: 800;
    color: #770404;
    border: black 1px solid;
    border-radius: 15px;
}
.publisher {
    text-align: right;
    font-size: 0.7em;
    font-weight: 800;
    color: #770404;
    padding-right: 5px;
    margin: 0;
}
.header {
    padding-top: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: 2px;
}
.comingout {
    margin: 5px;
}
.selectedA {
    background-color: #ffedcc;
    border-radius: 5px;
}
.selectedB {
    background-color: aliceblue;
    border-radius: 5px;
}
.highlighter {
    cursor: pointer;
}

/* prev- are used for video previed in `/d/1886119869/Soccer` .. */
.anticipation {
    background: #ffffdf;
    padding: 1px;
    margin: 2px;
    border-radius: 0px 35px 0px 35px;
}
.prev-order {
    border: white 2px solid;
    background: #f9f9d1;
}
.prev-title {
    border: yellow 2px solid;
    background: #f9f9d1;
}
.prev-author {
}
