.extension-present {
    display: none;
}
.extension-missing {
    display: none;
}
#error {
    display: none;
}
#playnow {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
    border: 2px solid #9b9b9b;
    background-color: #fff;
    padding: 5px 11px;
    color: #4c4c4c;
    text-decoration: none;
    display: none;
}
.inprogress {
    padding: 5px 11px;
    font-weight: 700;
    border: 2px solid #9b9b9b;
    background-color: #fff;
}
#video--list {
	text-align: center;
}
#video--list pre {
    display: none;
}

/* results page */
.header {
    background-color: #e9ffe4;
    width: '100%';
    text-align: left;
}
.unit {
    border-right: white 2px solid;
}
.title {
    font-size: 1.1em;
}
.info {
    font-size: 0.9em;
}
.result {
}
.entry {
}
.user {
    background-color: white;
}
.related p {
    font-size: 0.7em
    text: white;
}
.number {
    font-weight: 800;
    color: #770404;
    border: black 1px solid;
    border-radius: 15px;
}
.publisher {
    text-align: right;
    font-size: 0.7em;
    font-weight: 800;
    color: #770404;
    padding-right: 5px;
}

/* prev- are used for video previed in `/d/1886119869/Soccer` .. */
.anticipation {
    background: #ffffdf;
    padding: 1px;
    margin: 2px;
    border-radius: 0px 35px 0px 35px;
}
.prev-order {
    border: white 2px solid;
    background: #f9f9d1;
}
.prev-title {
    border: yellow 2px solid;
    background: #f9f9d1;
}
.prev-author {
}
