.seen {
    font-size: 0.75em;
    background-color: red;
    border-top: 4px white solid;
    padding-left: 10px;
    color: white;
    font-weight: bold;

}

label {
    background: #f5efef;
    border-radius: 15px;
    padding: 5px;
}

.step {
    border-bottom: 2px red solid;
    border-left: 2px red solid;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.7em;
}

.comparehdr {
    text-align: center;
    background: #f5efef;
}

.protagonist {
    font-size: 1.4em;
    border: 4px red solid;
}

.fullred {
    color: white;
    background-color: red;
}

.recent {
    font-size: 0.8em;
    cursor: pointer;
}

.entry {
    width: 50%;
}

.related {
    font-size: 0.6em;
    border-bottom: 1px solid #3ba5a0;
    border-left: 1px solid lightblue;
    margin: 2px;
}

.notclassiclink {
    text-decoration: none;
    color: white;
}

.lighton {
    font-weight: 800;
    background-color: #f5f5ec;
    cursor: pointer;
}
