.videoblock {
    border-left: 1px black solid;
    border-top: 1px black solid;
}

thead {
    background: aliceblue;
}

.timeheader {
    background: cornsilk;
    padding: 5px;
}

.compareLink {
    background: white;
    border-radius: 6px;
    border: 1px solid blue;
    padding: 2px;
    cursor: pointer;
    font-size: 0.75em;
}
