
.data {
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #daedbc;
}

.data h2 {
    font-size: 24px;
    text-align: right;
}

.data h3 {
    font-size: 18px;
    color: burlywood;
}

.related-list {
    background-color: #f1f8f8;
    border-radius: 0px 35px 0px 35px;
    padding-bottom: 10px;
}

.related {
    border-bottom: darkgrey dotted 1px;
}

.source {
    float: right;
    border-radius: 3px;
    padding-right: 4%;
}

.saved {
    font-style: italic;
}

.index {
    color: blue;
    font-weight: 500;
    padding-right: 3%;
}

.selectable {
    cursor: pointer;
}

.selected {
    background-color: lightgreen;
}

#shoot {
    text-align: center;
    position: sticky;
    top: 0;
}

#step {
    font-size: 5em;
}

.glow {
    color: lightgreen;
}

.url {
    text-align: center;
    padding: 50px;
    font-size: 2em;
    background-color: #f2ffc9;
    border-radius: 10px;

    p {
        font-size: 1em;
        padding: 2em;
    }
}

.labelentry {
    position: relative;
	border: 0;
	width: 100%;
    text-align: center;
    border-bottom: 1px black solid;
    margin-bottom: 2px;
}

.labelentry i {
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: gray;
    left: 5px;
    top: 10%;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    opacity: 1;
}

.labelentry input:focus + i {
    display: none;
}

#go {
    background-color: #acfba8;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-weight: 900;
}
