.infoblock {
    border: 2px;
    border-color: #fd5308; /* orange */
    border-radius: 25px;
    border-style: solid;
}

h3 {
    text-align: center;
    font-style: uppercase;
    color: '#3c5a99';
};

.metadata {
    padding: 1em;
}

.orange {
    color: #fd5308;
}

.metaentry {
    font-size: 12px;
}

.related {
    float: left;
    width: 200px;
    height: 200px;
    padding: 3px;
    border: black 1px solid;
    border-radius: 10px;
    margin: 1px;
}

.related p {
    color: #3c5a99;
    text-align: right;
    padding: 0px;
    font-size: 0.9em;
}

.related span {
    font-size: 0.7em;
    color: #66b032;
}

.related h3 {
    font-size: 1.1em;
    font-weight: 900;
    margin: 0px;
}
