name: YCAI - Release
on:
  push:
    branches:
      - master
      - beta

defaults:
  run:
    working-directory: YCAI

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        working-directory: ./
        run: yarn

      - name: Build dashboard
        run: yarn build

      # - name: Release
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: yarn ycai semantic-release

      - name: Deploy YCAI dashboard
        uses: burnett01/rsync-deployments@5.1
        with:
          switches: -avzr --delete
          path: ./YCAI/build/dashboard/
          remote_path: ~/public/
          remote_host: ${{ secrets.YCAI_DEPLOY_HOST }}
          remote_user: ${{ secrets.YCAI_DEPLOY_USER }}
          remote_key: ${{ secrets.YCAI_DEPLOY_KEY }}
